<!DOCTYPE html>
<html>

<head>
  <title>Bento-photo</title>
  <link rel="stylesheet" href="/css/uikit.min.css">
</head>

<body>
  <div class="uk-container">
    <nav class="uk-navbar-container uk-margin" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">Instagram search</a>
        <a class="uk-button uk-button-default" href="/oauth" uk-tooltip>Authorization</a>
      </div>
    </nav>
    <div class="uk-form-horizontal">
      <legend class="uk-legend">Search</legend>
      <div id="root"></div>

      <div class="uk-margin">
        <button class="uk-button uk-button-primary" uk-tooltip>Copy as HTML</button>
        <button class="uk-button uk-button-primary" uk-tooltip>Copy as Markdown</button>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js"></script>
  <script src="/js/common.js"></script>
</body>

</html>